[submodule "Pepper/submodules/HexCtrl"]
	path = Pepper/submodules/HexCtrl
	url = https://github.com/jovibor/HexCtrl.git
[submodule "Pepper/submodules/libpe"]
	path = Pepper/submodules/libpe
	url = https://github.com/jovibor/libpe.git
